ul,li{
    list-style: none;
}
body{
    background-color: rgb(35, 37, 41);
    color: white;
}








.lang-button {
    margin-right: 10px;
}
body {
    background-color: rgb(35, 37, 41);
    color: white;
    font-family: 'Roboto', sans-serif;
}



header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #555;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}
body {
    background-color: rgb(35, 37, 41);
    color: white;
    font-family: 'Roboto', sans-serif;
}



.lang-button {
    margin-right: 10px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.lang-button:hover {
    color: #ccc;
}

.lang-button.active {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
body {
    background-color: #212529;
    color: #dee2e6;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    padding: 1rem;
    background-color: #555;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.lang-button {
    margin-right: 10px;
}

/* ... rest of the CSS code ... */
#hero{
    margin-top: 85px;
}
.i3{
    width: 420px !important;
    height: 220px;
}
.imgpr{
    width: 370px ;
    height: 320px;
    border-radius: 15px;
}

@font-face {
    font-family: 'MF1';
    src: url('./fonts/OpenSans-Regular.ttf') format('truetype');
  }

  
@media only screen and (max-width: 1000px) {
    /* Header and navigation */
    
  
    /* Hero section */

    #hero {
      margin-top: 50px;
    }
    #hero-title {
      font-size: 24px;
    }
    .hero-span{
      font-size: 24px;
    }

  
    /* Projects section */
    #projects ul {
      flex-direction: column;
    }
   .imgpr {
      width: 100%;
      height: auto;
    }
  
    /* Contact section */
    #contact ul {
      flex-direction: column;
    }
  }
  
  
  
    
  
    /*  */
   .imgpr {
      width: 70%;
      height: auto;
    }
  
  .i3{
    width: 350px !important ;
    height: 200px;
  }



.mb5{
  margin-bottom: 5px;
}
.lang-span{
  color: rgba(255, 255, 255, .55);;
}
.lang-span:hover{
  color: rgba(255, 255, 255, .75);
}
p{
  margin: 0 auto;
}
.logo{
  margin-right: 15px;
}
.nav-link{
  font-size: 20px;
}


#hero {
  background: url('./img/noutbuk_kod_-darken.jpg');
  height:700px;
  width: 100%;
}
#hero{
  margin-bottom: 15px;
}
.m0a{
  margin: 0 auto;
}
.about-title{
  width: 150px;
}

#hero-div{
  padding: 290px 0px;
  margin: 0 auto;
  height: 50px;
  width: 560px;
}
/* body {
  background-color: #212529;
  color: #fff; 
  font-family: 'Roboto', sans-serif;
} */
.lang-switched #hero-title {
  width: 700px;
  margin: 0 auto;
}

.lang-switched .hero-title {
  width: 700px;
  margin: 0 auto;
}
.hero-span{
  margin: 0 auto;
  width: 230px;
}
/* #projects{
  
} */
.pr{
  width: 300px;
}
.pr-list{
  display: flex;
  /* padding: 0px 100px; */
  margin: 0 auto;
  width: 1100px;
}
.pr1{
  margin-right: 80px;
  
}
.pr-title{
  width: 200px;
}
#about{
  margin-bottom: 50px;
}
#projects{
  margin-bottom: 50px;
}
.ex{
  
  height: 300px;
}









/* @media (max-width: 650px) {
  body{
    width: 300px;
  }
    
  #header{
    background-color: rgb(35, 37, 41);
    width: 400px;
    padding: 30px;
  }
  .logo{
    margin-right: 10px;
    width: 50px;
  }
  .nav-item{
    display: none;

  }
  .navbar-nav{
    margin-right: 0px;
    width: 100px;
  }

  
  #hero {
    margin-top: 185px;
    background: url('./img/noutbuk_kod-darken-small.jpg');
    width: 420px;
height: 300px;
  }
  #hero-div{
    
    padding: 0px;
    
    margin: 0 auto;
    height: 250px;
    width: 370px;
    padding-top: 100px;
  }
  .hero-title{
    width: 150px;
  }
  
  .pr-title{
    margin-bottom: 15px;
  }
  .pr-list{
    display: flex;
    flex-direction: column;
  }
  .pr1{
    margin-left: 0px;
    margin-bottom: 10px;
  }
  
  #contact{
    width: 320px;
  }

} */

/* ... інші стилі ... */

/* Адаптація для телефонів */
@media only screen and (max-width: 480px) {
  /* Загальні стилі */
  body {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  /* Шапка */
  #header {
    background-color: rgb(35, 37, 41);
    width: 100%;
    padding: 15px;
  }
  .logo {
    margin-right: 10px;
    width: 30px;
  }
  .nav-item {
    display: none;
  }
  .navbar-nav {
    margin-right: 0px;
    width: 100px;
  }
  
  /* Геройський розділ */
  #hero {
    margin-top: 100px;
    background: url('./img/noutbuk_kod-darken-small.jpg');
    width: 100%;
    height: 200px;
  }
  #hero-div {
    padding: 0px;
    margin: 0 auto;
    height: 150px;
    width: 90%;
    padding-top: 50px;
  }
  .hero-title {
    width: 100px;
  }
  
  /* Розділ проєктів */
  .pr-title {
    margin-bottom: 10px;
  }
  .pr-list {
    display: flex;
    flex-direction: column;
  }
  .pr1 {
    margin-left: 0px;
    margin-bottom: 10px;
  }
  
  /* Розділ контактів */
  #contact {
    width: 90%;
  }
  
  /* Соціальні мережі */
  .soc-list {
    display: flex;
    width: 150px;
    padding-left: 0px;
  }
  .mrsoc {
    margin-right: 10px;
  }
}

/* Адаптація для телефонів */
@media only screen and (max-width: 480px) {
  /* Загальні стилі */
  #body {
    /* width: 30%; */
    padding: 0;
    margin: 0;
  }
  h1{
    font-size: 20px;
  }
  /* Шапка */
  #header {
    background-color: rgb(35, 37, 41);
    width: 300px;
    padding: 10px;
  }
.container-fluid{
  width: 300px;
}
  .logo {
    margin-right: 5px;
    width: 20px;
    font-size: 20px;
  }
  .logo-link{
    font-size: 20px !important;
  }
  .logo-h1{
    font-size: 20px !important;
  }
  .nav-item {
    display: none;
  }
  .navbar-nav {
    margin-right: 0px;
    width: 50px;
  }
  
  /* Геройський розділ */
  #hero {
    margin-top: 100px;
    background: url('./img/noutbuk_kod-darken-small.jpg');
    width: 100%;
    height: 150px;
  }
  #hero-div {
    padding: 0px;
    margin: 0 auto;
    height: 100px;
    width: 80%;
    padding-top: 30px;
  }
  #hero-title {
    width: 290px;
    font-size: 20px;
  }
  .hero-span{
    width: 120px;
    font-size: 20px;
  }
  
  /* Розділ проєктів */
  .pr-title {
    margin-bottom: 5px;
  }
  .pr-list {
    width: 250px;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
  }
  .pr1 {
    margin-left: 0px;
    margin-bottom: 5px;
  }
  .pr-desc{
    width: 250px;
  }
  /* Розділ контактів */
  #contact {
    width: 80%;
  }
  
  /* Соціальні мережі */
  .soc-list {
    display: flex;
    width: 120px;
    padding-left: 0px;
  }
  .mrsoc {
    margin-right: 5px;
  }
}

/* Add this media query to adjust the layout for tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Hide all navigation elements except for the logo */
  .nav-item {
    display: none;
  }
  /* .navbar-nav {
    display: none;
  } */
  .logo {
    display: block;
  }
  
}
.pr-title{
  margin-bottom: 15px;
}
.socic{
  width: 30px;
  height: 30px;
}
.soc-list{
  display: flex;
  width: 170px;
  padding-left: 0px;
}
.mrsoc{
  margin-right: 20px;
}
